<div class="text-center">
    <h1 class="text-success">About Me</h1>
</div>
<div class="underline mb-2"></div>

<div class="row container-fluid my-3 justify-content-center">
    <div class="col-md-10">
        <div>

            <img src="../../assets/newraj.png" alt="rajnish tripathi" class="rounded-circle img-fluid profile-img">
        </div>

        <p class="about-me">I am a Full-Stack Web Developer
            As a full-stack web developer, I have the skills and experience to build web applications from start to
            finish. I am proficient in both front-end and back-end development, and have a deep understanding of how
            these two components work together to create a seamless user experience. <br>
            <b class="text-success"> On the front-end,</b>
             I am skilled in HTML, CSS, and JavaScript,TypeScript as well as popular front-end
            frameworks such as React and angular. I
            have a keen eye for
            design and am able to create visually appealing and intuitive user interfaces. On the back-end, I am
            experienced in server-side languages such as Node.js, Express.js and am familiar with popular databases such
            as
            and MongoDB.
            <br> <b class="text-success"> Overall</b>, I am passionate about creating
            high-quality web applications that provide real value to users. I am always learning and expanding my
            skills, and am excited to take on new challenges and projects.
            As a tech enthusiast and a problem solver, I am constantly seeking new opportunities to explore and develop
            my skills.
            I am a passionate computer science enthusiast and problem solver, dedicated to providing solutions for
            complex coding problems. <br>
            <b class="text-success"> My website</b> serves as a platform where I share my insights and knowledge about
            various computer science concepts and challenges. Here, you will find a comprehensive collection of coding
            solutions, in-depth articles, and discussions on computer science topics. My aim is to simplify complex
            ideas and present them in an understandable and accessible way. I believe in continuous learning and my
            website is a reflection of my journey in exploring and mastering the vast universe of computer science.

        </p>
    </div>


</div>


<div class="skill my-2">
    <h2 class="text-center text-success">My Skills</h2>
    <div class="underline mb-2"></div>
    <div class="container d-flex flex-wrap justify-content-center">

        <app-skills [skill]="{ name : 'JavaScript' , img : '../../assets/javascript.png'}"></app-skills>
        <app-skills [skill]="{ name : 'HTML' , img : '../../assets/html.png'}"></app-skills>
        <app-skills [skill]="{ name : 'React' , img : '../../assets/react.png'}"></app-skills>
        <app-skills [skill]="{ name : 'C++' , img : '../../assets/c++.png'}"></app-skills>
        <app-skills [skill]="{ name : 'C' , img : '../../assets/c.png'}"></app-skills>
        <app-skills [skill]="{ name : 'Bootstrap' , img : '../../assets/bootstrap.png'}"></app-skills>
        <app-skills [skill]="{ name : 'OOPS' , img : '../../assets/oops.png'}"></app-skills>
        <app-skills [skill]="{ name : 'NODEJs' , img : '../../assets/node.png'}"></app-skills>
        <app-skills [skill]="{ name : 'ExpressJS' , img : '../../assets/express.png'}"></app-skills>
        <app-skills [skill]="{ name : 'MongoDB' , img : '../../assets/mongo.png'}"></app-skills>
        <app-skills [skill]="{ name : 'Angular' , img : '../../assets/angular.png'}"></app-skills>
        <app-skills [skill]="{ name : 'Material UI' , img : '../../assets/mat.png'}"></app-skills>
        <app-skills [skill]="{ name : 'Python' , img : '../../assets/python.png'}"></app-skills>
        <app-skills [skill]="{ name : 'MYSql' , img : '../../assets/mysql.png'}"></app-skills>
    </div>

</div>
