
<h1 class="text-center fw-bold text-success">Get In Touch </h1>
<div class="underline mb-2"></div>
<div class="row  justify-content-evenly m-4">
    <div class="col-md-4 bg-color p-4 rounded-2 mb-2">
        <img src="../../assets/contact.jpg" alt="contact me" class="img-fluid contact-img">
        <h2 class="fw-bold my-2 ms-2">Rajnish Kumar Tripathi</h2>
        <p class="ms-2">Full Stack Web Developer</p>
        <h4 class="text-info ms-2">Connect with me</h4>
        <div class="d-flex justify-content-between mt-4 mx-2">
            <button class="btn logo-btn shadow-lg ">
                <img src="../../assets/linkdin.png" alt="linkdin" width="25px" height="25px">
            </button>
            <button class="btn logo-btn shadow-lg">
                <i class="bi bi-github fs-4"></i>
            </button>
            <button class="btn logo-btn shadow-lg">
                <i class="bi bi-headphones fs-4"></i>
            </button>
            <button class="btn logo-btn shadow-lg">
                <i class="bi bi-envelope fs-4"></i>
            </button>
        </div>
    </div>
    <div class="col-md-6 bg-color p-4 rounded-2">
        <form action="" autocomplete="off">
            <div class="row mb-3">
                <div class="col-md-6">

                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="tel" id="phone" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" id="subject" class="form-control">
            </div>
            <div class="mb-3">
                <label for="msg" class="form-label">Message</label>
                <textarea name="msg" id="msg" cols="30" rows="4" class="form-control"></textarea>
            </div>

           <div class="mb-3">
              <button type="submit" class="btn btn-info form-control" >Send Message</button>
           </div>
        </form>
    </div>
</div>
