<div class="row justify-content-center m-3">
    <div class="col-md-8 border p-0 rounded">
        <h3 class="heading rounded fw-bold">
            WORK EXPERIENCE
        </h3>
        <div class="ms-3 my-2">
            <div class="first">
                <div class="d-flex">
                    <h4 class="fw-bold">Full Stack Web Developer </h4>
                    <p class="ms-2">(July 2023 - Present)</p>
                </div>
                <p class="text-success fw-bold">Unthinkable Solutions</p>
                <ul>
                    <li>Designed, developed, and maintained web applications using a variety of
                        technologies, including React , Angular , NodeJS , mongoDB.</li>
                    <li>Collaborated with cross-functional teams to gather requirements and deliver
                        solutions that met client expectations</li>
                    <li>Implemented responsive design principles to enhance the user experience on various
                        devices.</li>
                </ul>
            </div>
            <hr>
            <div class="second">
                <div class="d-flex">
                    <h4 class="fw-bold">Web Developer Intern</h4>
                    <p class="ms-2"> (March 2023 - July 2023)</p>
                </div>
                <p class="text-success fw-bold">National Institute of Electronics and Information Technology
                    (NIELIT) , Gorakhpur </p>
                <ul>
                    <li>Assisted in the development and maintenance of websites and web applications.</li>
                    <li>Worked with a team to gather and document project requirements.</li>
                    <li>Gained experience with web development frameworks such as ReactJs.</li>
                </ul>
            </div>
            <hr>
        </div>

        <h3 class="heading rounded fw-bold">
            EDUCATION
        </h3>
        <div class="m-3">
            <h4 class="fw-bold">B.Tech in Computer Science and Engineering</h4>
            <p class="mb-1">AKTU Lucknow (2019-2023)</p>
            <p class="text-success fw-bold">9.13 CGPA</p>
        </div>

        <h3 class="heading rounded fw-bold">
            SKILLS
        </h3>
        <div class="ms-3 my-2">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h5 class="fw-bold">Programming Languages :</h5>
                    <ul>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="fw-bold">Frameworks:</h5>
                    <ul>
                        <li>React</li>
                        <li>Angular</li>
                        <li>NodeJs</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="fw-bold">Other Skills:</h5>
                    <ul>
                        <li>Source control via Git</li>
                    </ul>
                </div>
            </div>
        </div>


        <h3 class="heading rounded fw-bold">
            CERTIFICATION
        </h3>
        <div class="ms-2 my-3">
            <ol>
                <li>Certificate of database for developer from Oracle Devgym Certification test.</li>
                <li>Certified by College for website Building for ICISSI-2022.</li>
                <li>Certificate of Problem solving , C , C++ , Python , SQL from Hackerrank .</li>
                <li>Certificate of Problem solving , C , C++ , Python , SQL from Study Section .</li>
            </ol>
        </div>

    </div>
</div>

